@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

html, 
body{
  background-color: #251D3A;
}